#animation-navigate.animation-in {
  animation: animation-in 0.5s ease-in-out;
  opacity: 1;
}

#animation-navigate.animation-out {
  animation: animation-out 0.5s ease-in;
  opacity: 0;
}

@keyframes animation-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-out {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

.flash-effect {
  animation: jump 1.2s infinite !important;
}

@keyframes jump {
  0% {
    transform: translate(-5%, -5%) scale(1.05, 0.95);
  }
  50% {
    transform: translate(-5%, -15%) scale(1, 1);
  }
  55% {
    transform: translate(-5%, -15%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, -15%) rotate(-15deg);
  }
  65% {
    transform: translate(-5%, -15%) rotate(15deg);
  }
  70% {
    transform: translate(-5%, -15%) rotate(-15deg);
  }
  100% {
    transform: translate(-5%, -5%) scale(1.05, 0.95);
  }
}
