#animation-navigate.animation-in {
  animation: animation-in 0.5s ease-in-out;
  opacity: 1;
}

#animation-navigate.animation-out {
  animation: animation-out 0.5s ease-in;
  opacity: 0;
}

@keyframes animation-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-out {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}
